In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
DIR_IN_ANG = r"IN\ANG"
filepath = r"Z:\MontFin\Process\IN\ANG"
database = r"Db\MontFin.db"
full_path = r"Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx"

In [3]:
df = pd.read_excel(full_path, sheet_name='01')
df['FileBase'] = full_path
print("Print df Ang: ", df.head())
# wb.to_sql(name='Tbl_RawData_DRI_Ang', con=conn, if_exists='append', index=False)

Print df Ang:     Embargo  Typ-info Nationaliteit   Sleutel      Naam Voornaam  \
0  Embargo  Info Typ   Nationalité       Clé       Nom   Prénom
1        0         0        BELGIE  74447394  GEERDENS    STEVE
2        0         0      ONBEKEND  74447686       NaN      NaN
3        0         0        BELGIE  74447726   VANHOVE    CHRIS
4        0         0        BELGIE  74448172     CLAES     KRIS

  Naam en voornaam Geboorte datum Geslacht          RRN Foto ind  \
0       Nom Prénom     Date Nais.     Sexe          RRN    Photo
1              NaN       27031977      001  77032707970      NaN
2              NaN       00000000      003  00000000000      NaN
3              NaN       18081964      001  64081841359      NaN
4              NaN       18081970      001  70081820307      NaN

    Foto laatste datum Foto num key  Foto datum  \
0  Photo dernière date    Photo Clé  Photo Date
1                  NaN          NaN         NaN
2                  NaN          NaN         NaN
3                  NaN          NaN         NaN
4                  NaN          NaN         NaN

                                  FileBase
0  Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx
1  Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx
2  Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx
3  Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx
4  Z:\MontFin\Process\IN\ANG\SCRCANDN.xlsx

In [4]:
df.dtypes

Embargo               object
Typ-info              object
Nationaliteit         object
Sleutel               object
Naam                  object
Voornaam              object
Naam en voornaam      object
Geboorte datum        object
Geslacht              object
RRN                   object
Foto ind              object
Foto laatste datum    object
Foto num key          object
Foto datum            object
FileBase              object
dtype: object

In [5]:
print("Finished")

Finished